<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shows Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css/' %}" />
</head>

<div class="container button__container">
    <a href="/shows/" class="btn btn-primary">SHOWS</a>
</div>

<body>
        <div>
            <h2>{{ show.title }}</h2>
            <p>{{ show.description }}</p>
            <img src="{{ show.image.url }}" alt="">
            <p>{{ show.quantity }}</p>
            <p>{{ show.genre }}</p>
            <p>{{ show.date_filmed }}</p>
        </div>
</body>
</html>